/target
/config/local.toml
/data/templates/
/data/projects/
/data/temp/
/data/templates-old/
/data/data.bincode
/data/data.*.bincode
/typescript/node_modules/
/typescript/dist/
/typescript/dist/
/typescript/package-lock.json
/Cargo.lock
/static/js
/.idea
/version.txt
.vscode/tasks.json
.vscode/launch.json
/certs/*